:root {
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);
  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
  --Fontsize: 28px;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    background-color: var(--DarkBlue);
   display: flex;
   justify-content: center;
   align-items: center;
    height: 100vh;
    font-size: var(--Fontsize);
    font-family: 'Manrope', sans-serif;
    /* font-weight: 800; */
    text-align: center;
    
}
h5{
    color: var(--NeonGreen);
    /* margin: .78rem auto; */
    font-size: 15px;
    margin-top: 10px;
}
.card{
    background-color: var(--DarkGrayishBlue);
    width: 22rem;
    height: 13rem;
    border-radius: .45rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    /* mix-blend-mode: multiply; */
    position: absolute;
}
p{
    color: var(--LightCyan);
    font-size: 22px;
    margin: 1rem 0;
}
.img{
    display: block;
    width: 90%;
    margin: 0 auto;
}
.dice> img{
    width: 38%;
}
.dice{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--NeonGreen);
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 1.32rem;
}